---
import TOC from "@/components/TOC.astro";
import DateMeta from "@components/DateMeta.astro";
import EndOfPage from "@components/EndOfPage.astro";
import Layout from "@layouts/Layout.astro";
import { getBlogPostById, getBlogPosts } from "@lib/posts";
import { getEntry, render } from "astro:content";

export async function getStaticPaths() {
    const posts = (await getBlogPosts(true)).map((post) => {
        const slug = post.id;
        return {
            params: { slug },
            props: { slug },
        };
    });

    return posts;
}

const post = await getBlogPostById(Astro.props.slug);
if (!post) throw new Error(`Post not found: ${Astro.props.slug}`);
const content = await render(post);

const commentsEnabled = post.data.comment ?? true;

import "@styles/post.scss";
import Comments from "@/components/Comments.astro";
---

<Layout title={post.data.title} post={post}>
    <article class="container mx-auto w-full mt-8">
        <h1 class="post-title">{post.data.title}</h1>
        <section class="post-meta mb-6">
            <DateMeta post={post} />
        </section>
        <aside class="post-aside pl-4">
            <TOC headings={content.headings} />
        </aside>
        <main class="post-content">
            <content.Content />
        </main>
        <EndOfPage />
        {commentsEnabled && (
            <Comments slug={post.id} />
        )}
    </article>
</Layout>

<script>
    import mediumZoom from 'medium-zoom'

    mediumZoom('.post-content img:not(.medium-zoom-image)', {
        margin: 16,
        background: 'light-dark(rgb(248 249 255), rgb(16 20 24))',
    });
</script>
