---
import Layout from "../layouts/Layout.astro";

import config from "@config";
import { getBlogPosts } from "@/lib/posts";
import PostEntry from "@/components/PostEntry.astro";

let posts = await getBlogPosts();
---

<Layout>
    <!-- <h1>{config.name}</h1>
    <h2>{config.description}</h2>
    <div>hello world</div>

    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/archives/${post.id}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul> -->

    <main class="container mx-auto w-full mt-8 flex flex-col gap-6">
        {posts.map((post) => (
            <PostEntry post={post} />
        ))}
    </main>
</Layout>
